<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<p></p>
		</div>
		<div class="span4">
			<form class="well">
				<label>Email Address</label>
				<input type="text" name="username" class="input-medium" ng-model="username">
				<label>Password</label>
				<input type="password" name="password" class="input-medium" ng-model="password">
				<br>
				<button type="submit" class="btn" ng-click="login()">Submit</button>
				<br>
				<span>{{response}}</span>
			</form>
		</div>
	</div>
</div>

